<div class="container text-center">
    <div class="row">
      <div class="col">
        <h3 style="text-align:left;"><b><u><i>CONTACT DETAILS</i></u></b></h3>
        <br>
        <h6> <li>Trivandrum	0471-2324453</li>
          <li> Kollam	0474-2761555</li>
          <li>Pathanamthitta	0468-2326409</li>
           <li>Kottayam	0481-2524343</li>
          <li> Alappuzha	0477-2260722</li>
           <li>Idukki	04869222620</li>
          <li>Ernakulam	0484-2360502</li>
           <li>Thrissur	04872-332419</li>
           <li>Palakkad	0491-2528996</li>
           <li>Malappuram	0483-2733504</li>
           <li>Kozhikode	0495-2373862</li>
           <li>Wayanad	0493-6204441</li>
           <li>Kannur	04972-702515</li>
           <li>Kasaragod	04994230416</li> </h6>
      </div>
      <div class="col">
        <h2>LOCATION</h2>
        <br>

        
          <div class="container">
            <!--Google map-->
<div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
<iframe src="https://maps.google.com/maps?q=macfast&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
style="border:0" allowfullscreen></iframe>
</div>

<!--Google Maps-->
        
      </div>
    </div>
  </div>
